.draggable {
  width: 100%;
  height: 54px;
  border-radius: 4px; }
  .draggable__library--default {
    background-color: lightcoral; }
  .draggable__library--is-dragging {
    background-color: lightseagreen; }
  .draggable__selection--default {
    background-color: lightblue; }
  .draggable__selection--is-dragging {
    background-color: lightseagreen; }
