.draggable {
  width: 100%;
  height: 54px;
  
  &__library {

    &--default {
      background-color: lightcoral;
    }
    &--is-dragging {
      background-color: lightseagreen;
    }
  }
  &__selection {

    &--default {
      background-color: lightblue;
    }
    &--is-dragging {
      background-color: lightseagreen;
    }
  }
}