@import "./_global.scss";
@import "../components/styles/_all.scss";
@import "../layouts/_all.scss";

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
progress {
  width: 75%;
}

// APP NAV
.app-mobile {
  display: none;
}
.app {
  width: 100%;
}
.app-header {
  width: 100%;
  height: 'auto';
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 20px;
  box-sizing: border-box;
  color: white;

  .app-nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;

    &__item a {
      text-decoration: none;
      font-size: 20px;
      color: white;
      font-family: "roboto";

      &:hover {
        color: lightsteelblue;
      }
    }
  }
}

// GLOBAL 

.main-container {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background: red;
}
.green {
  background: green;
}

@media only screen and (max-width: 600px) {
  .app-mobile {
    display: flex;
    background: rgb(23, 1, 44);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 32px;

    &__heading {
      font-family: 'roboto', sans-serif;
      color: #fff;
      text-align: center;
    }
  }
  .app {
    display: none;
  }
}