.work {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(25%, 50%);

  .boxes {
    height: calc(100vh - 100px);
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(25%, 50%);

    &__box:nth-of-type(3) {
      grid-area: 5 / 6 / 1 / 3 !important;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--translucent {
      opacity: 0.2;
      transition: all .5s;
    }
  }

  &__box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0;
    z-index: 9999;
  }

  &__btn-container {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
    margin: 0 0 32px 0;
  }
  &__btn {
    flex: 0 1 25%;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    background-color: transparent;

    &.active {
      color: lightsteelblue;
      letter-spacing: .1em;
    }
    &:hover {
      color: lightsteelblue;
      letter-spacing: .1em;
      transition: all 0.2s;
    }
    &:focus {
      outline: none;
    }
  }
  .phone {
    margin: 0 auto;

    &__outer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #1f1f1f;
      border: 3px solid black;
      border-radius: 32px;
      overflow: hidden;
      position: relative;

      // IPHONE X
      &--iphone-x {
        // height: 717px;
        height: 540px;
        width: 267px;
        transition: all .3s;

        .speaker-container {
          position: absolute;
          top: 0;
          width: 60%;
          height: 25px;
          background-color: #1f1f1f;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          z-index: 2;
          
          &__speaker {
            display: none;
            width: 80px;
            height: 6px;
            background-color: #333333;
            border-radius: 3px;
          }
        }
        .inner {
          flex: 12;
          background-color: #1f1f1f;
          width: 242px;
          position: relative;
          transition: all .3s;
        }
        .inner:before {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 242px;
          height: 98%;
          z-index: 1;
          opacity: 1;
          border-radius: 24px;
          margin: 6px 0;
          background-image: url('../../assets/iphone-x.png');
          background-repeat: no-repeat;
          background-position: 50% 0;
          -ms-background-size: contain;
          -o-background-size: contain;
          -moz-background-size: contain;
          -webkit-background-size: contain;
          background-size: contain;
          animation: fadex 1s linear;
        }
        .work-btn-container {
          width: 100%;
          display: none;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 12px;
          
          &__work-btn {
            width: 50%;
            height: 6px;
            border: 1px solid black;
            border-radius: 3px;
          }
        }
      }
      
      // IPHONE 8 plus
      &--iphone-8 {
        // height: 651px;
        height: 596px;
        width: 293px;
        transition: all .3s;

        .speaker-container {
          flex: 0 0 10%;
          display: flex;
          align-items: center;
          
          &__speaker {
            width: 60px;
            height: 4px;
            background-color: rgba(255,255,255,0.01);
            border-radius: 2px;
            box-shadow: 2px 1px 3px rgba(255,255,255,0.1);
          }
        }
        .inner {
          flex: 6;
          background-color: #1f1f1f;
          width: 293px;
          position: relative;
          transition: all .3s;
        }
        .inner:before {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 290px;
          height: 100%;
          z-index: 1;
          opacity: 1;
          background-image: url('../../assets/iphone-7.png');
          background-repeat: no-repeat;
          background-position: 50% 0;
          -ms-background-size: contain;
          -o-background-size: contain;
          -moz-background-size: contain;
          -webkit-background-size: contain;
          background-size: contain;
          animation: fade7 1s linear;
        }
        .work-btn-container {
          flex: 0 0 10%;
          display: flex;
          align-items: center;
          
          &__work-btn {
            width: 50px;
            height: 50px;
            border: 1px solid rgba(0,0,0,0.1);
            background-color: rgba(255,255,255,0.01);
            border-radius: 25px;
            box-shadow: 2px 1px 3px rgba(255,255,255,0.1);
          }
        }
      }

      // IPHONE 6
      &--iphone-7 {
        // height: 600px;
        height: 530px;
        width: 257px;
        transition: all .3s;

        .speaker-container {
          flex: 1 0 5%;
          display: flex;
          align-items: center;
          
          &__speaker {
            width: 50px;
            height: 4px;
            background-color: rgba(255,255,255,0.01);
            border-radius: 2px;
            box-shadow: 2px 1px 3px rgba(255,255,255,0.1);
          }
        }
        .inner {
          flex: 20;
          background-color: #1f1f1f;
          width: 232px;
          position: relative;
          transition: all .3s;
        }
        .inner:before {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 1;
          background-image: url('../../assets/iphone-6.png');
          background-repeat: no-repeat;
          background-position: 50% 0;
          -ms-background-size: contain;
          -o-background-size: contain;
          -moz-background-size: contain;
          -webkit-background-size: contain;
          background-size: contain;
          animation: fade6 1s linear;
        }
        .work-btn-container {
          flex: 1 0 5%;
          display: flex;
          align-items: center;
          
          &__work-btn {
            width: 30px;
            height: 30px;
            background-color: rgba(255,255,255,0.01);
            box-shadow: 2px 1px 3px rgba(255,255,255,0.1);
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 20px;
          }
        }
      }
    }
  }
}

@keyframes fadex {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade7 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade6 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}