@mixin background-color($color, $amount) {
  background-color: lighten($color, $amount);
  transition: all .3s;
}
@mixin basic-grid($col, $row) {
  grid-column: $col;
  grid-row: $row;
}

.work {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(25%, 50%);
  box-sizing: border-box;
  background-image: url('../../assets/2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--translucent {
    opacity: 0;
    transition: all .3s;
  }
  &__box:nth-of-type(1) {  
    @include background-color(#000, 0%);
    @include basic-grid(1, 1);
  }
  &__box:nth-of-type(2) {
    @include background-color(#000, 5%);
    @include basic-grid(2, 1);
  }
  &__box:nth-of-type(3) {
    @include background-color(#000, 30%);
    @include basic-grid(3, 1);
  }
  &__box:nth-of-type(4) {
    @include background-color(#000, 75%);
    @include basic-grid(4, 1);
  }
  &__box:nth-of-type(5) {
    @include background-color(#000, 20%);
    @include basic-grid(5, 1);
  }
  &__box:nth-of-type(6) {  
    @include background-color(#000, 50%);
    @include basic-grid(6, 1);
  }
  &__box:nth-of-type(7) {  
    @include background-color(#000, 20%);
    @include basic-grid(1, 2);
  }
  &__box:nth-of-type(8) {  
    @include background-color(#000, 67%);
    @include basic-grid(2, 2);
  }
  &__box:nth-of-type(9) {  
    @include background-color(#000, 10%);
    @include basic-grid(3, 2);
  }
  &__box:nth-of-type(10) {
    @include background-color(#000, 46%);
    @include basic-grid(4, 2);
  }
  &__box:nth-of-type(11) {  
    @include background-color(#000, 27%);
    @include basic-grid(5, 2);
  }
  &__box:nth-of-type(12) {  
    @include background-color(#000, 90%);
    @include basic-grid(6, 2);
  }
  &__box:nth-of-type(13) {  
    @include background-color(#000, 75%);
    @include basic-grid(1, 3);
  }
  &__box:nth-of-type(14) {  
    @include background-color(#000, 0%);
    @include basic-grid(2, 3);
  }
  &__box:nth-of-type(15) {  
    @include background-color(#000, 20%);
    @include basic-grid(3, 3);
  }
  &__box:nth-of-type(16) {
    @include background-color(#000, 33%);
    @include basic-grid(4, 3);
  }
  &__box:nth-of-type(17) {
    @include background-color(#000, 66%);
    @include basic-grid(5, 3);
  }
  &__box:nth-of-type(18) {
    @include background-color(#000, 54%);
    @include basic-grid(6, 3);
  }
}