@keyframes fadex {
  0% {
    opacity: 0; }
  33% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade7 {
  0% {
    opacity: 0; }
  33% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade6 {
  0% {
    opacity: 0; }
  33% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes right-arm {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg); }
  25% {
    transform-origin: 50% 50%;
    transform: rotate(0deg); }
  30% {
    transform-origin: 87% 40%;
    transform: rotate(10deg); }
  35% {
    transform-origin: 50% 50%;
    transform: rotate(0deg); }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(0deg); } }

@keyframes left-arm {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg); }
  25% {
    transform-origin: 50% 50%;
    transform: rotate(0deg); }
  30% {
    transform-origin: 14% 40%;
    transform: rotate(-10deg); }
  35% {
    transform-origin: 50% 50%;
    transform: rotate(0deg); }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(0deg); } }

@keyframes beak {
  0% {
    transform-origin: 50% 65%;
    transform: rotate(45deg); }
  25% {
    transform-origin: 50% 65%;
    transform: rotate(45deg); }
  50% {
    transform-origin: 52% 65%;
    transform: rotate(48deg); }
  60% {
    transform-origin: 50% 65%;
    transform: rotate(45deg); }
  100% {
    transform-origin: 50% 65%;
    transform: rotate(45deg); } }

@keyframes pupil {
  0% {
    r: 10.9; }
  33.333% {
    r: 15.5; }
  66.666% {
    r: 5.9; }
  100% {
    r: 10.9; } }

@keyframes left-fang {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 50%; }
  50% {
    transform: rotate(-10deg);
    transform-origin: 50% 75%; }
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%; } }

@keyframes right-fang {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 50%; }
  50% {
    transform: rotate(10deg);
    transform-origin: 50% 75%; }
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%; } }

@keyframes big-head {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(0.9);
    transform-origin: 50% 50%; }
  50% {
    transform: scale(1.1);
    transform-origin: 50% 50%; }
  100% {
    transform: scale(1); } }

.work {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(25%, 50%); }
  .work .boxes {
    height: calc(100vh - 100px);
    width: 100%;
    display: grid;
    grid-auto-rows: 25%;
    grid-auto-columns: 14.29%;
    grid-auto-flow: column; }
    .work .boxes__box:nth-of-type(1) {
      min-width: 85px;
      grid-area: 5 / 6 / 1 / 3 !important;
      z-index: 10; }
    .work .boxes__box {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      z-index: 9999;
      transition: all 1s;
      position: relative; }
    .work .boxes--translucent {
      opacity: 0.2;
      transition: all .5s; }
  .work__box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    z-index: 9999;
    transition: all 1s; }
  .work__btn-container {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
    margin: 0 0 32px 0; }
  .work__btn {
    flex: 0 1 25%;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    background-color: transparent; }
    .work__btn.active {
      color: lightsteelblue;
      letter-spacing: .1em; }
    .work__btn:hover {
      color: lightsteelblue;
      letter-spacing: .1em;
      transition: all 0.2s; }
    .work__btn:focus {
      outline: none; }
  .work .phone {
    margin: 0 auto; }
    .work .phone__outer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #1f1f1f;
      border: 3px solid black;
      border-radius: 32px;
      overflow: hidden;
      position: relative; }
      .work .phone__outer--iphone-x {
        height: 540px;
        width: 267px;
        transition: all .3s; }
        .work .phone__outer--iphone-x .speaker-container {
          position: absolute;
          top: 0;
          width: 60%;
          height: 25px;
          background-color: #1f1f1f;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          z-index: 2; }
          .work .phone__outer--iphone-x .speaker-container__speaker {
            display: none;
            width: 80px;
            height: 6px;
            background-color: #333333;
            border-radius: 3px; }
        .work .phone__outer--iphone-x .inner {
          flex: 12;
          background-color: #1f1f1f;
          width: 242px;
          position: relative;
          transition: all .3s; }
        .work .phone__outer--iphone-x .inner:before {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 242px;
          height: 98%;
          z-index: 1;
          opacity: 1;
          border-radius: 24px;
          margin: 6px 0;
          background-image: url("../../assets/iphone-x.png");
          background-repeat: no-repeat;
          background-position: 50% 0;
          -ms-background-size: contain;
          -o-background-size: contain;
          -moz-background-size: contain;
          -webkit-background-size: contain;
          background-size: contain;
          animation: fadex 1s linear; }
        .work .phone__outer--iphone-x .work-btn-container {
          width: 100%;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center;
          position: absolute;
          bottom: 12px;
          z-index: 1; }
          .work .phone__outer--iphone-x .work-btn-container__work-btn {
            width: 40%;
            height: 5px;
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.6);
            box-shadow: 2px 1px 3px rgba(255, 255, 255, 0.1); }
      .work .phone__outer--iphone-8 {
        height: 596px;
        width: 293px;
        transition: all .3s; }
        .work .phone__outer--iphone-8 .speaker-container {
          flex: 0 0 10%;
          display: flex;
          align-items: center; }
          .work .phone__outer--iphone-8 .speaker-container__speaker {
            width: 60px;
            height: 4px;
            background-color: rgba(255, 255, 255, 0.01);
            border-radius: 2px;
            box-shadow: 2px 1px 3px rgba(255, 255, 255, 0.1); }
        .work .phone__outer--iphone-8 .inner {
          flex: 6;
          background-color: #1f1f1f;
          width: 293px;
          position: relative;
          transition: all .3s; }
        .work .phone__outer--iphone-8 .inner:before {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 290px;
          height: 100%;
          z-index: 1;
          opacity: 1;
          background-image: url("../../assets/iphone-8.png");
          background-repeat: no-repeat;
          background-position: 50% 0;
          -ms-background-size: contain;
          -o-background-size: contain;
          -moz-background-size: contain;
          -webkit-background-size: contain;
          background-size: contain;
          animation: fade7 1s linear; }
        .work .phone__outer--iphone-8 .work-btn-container {
          flex: 0 0 10%;
          display: flex;
          align-items: center; }
          .work .phone__outer--iphone-8 .work-btn-container__work-btn {
            width: 50px;
            height: 50px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.01);
            border-radius: 25px;
            box-shadow: 2px 1px 3px rgba(255, 255, 255, 0.1); }
      .work .phone__outer--iphone-7 {
        height: 530px;
        width: 257px;
        transition: all .3s; }
        .work .phone__outer--iphone-7 .speaker-container {
          flex: 1 0 5%;
          display: flex;
          align-items: center; }
          .work .phone__outer--iphone-7 .speaker-container__speaker {
            width: 50px;
            height: 4px;
            background-color: rgba(255, 255, 255, 0.01);
            border-radius: 2px;
            box-shadow: 2px 1px 3px rgba(255, 255, 255, 0.1); }
        .work .phone__outer--iphone-7 .inner {
          flex: 20;
          background-color: #1f1f1f;
          width: 232px;
          position: relative;
          transition: all .3s; }
        .work .phone__outer--iphone-7 .inner:before {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 1;
          background-image: url("../../assets/iphone-7.png");
          background-repeat: no-repeat;
          background-position: 50% 0;
          -ms-background-size: contain;
          -o-background-size: contain;
          -moz-background-size: contain;
          -webkit-background-size: contain;
          background-size: contain;
          animation: fade6 1s linear; }
        .work .phone__outer--iphone-7 .work-btn-container {
          flex: 1 0 5%;
          display: flex;
          align-items: center; }
          .work .phone__outer--iphone-7 .work-btn-container__work-btn {
            width: 30px;
            height: 30px;
            background-color: rgba(255, 255, 255, 0.01);
            box-shadow: 2px 1px 3px rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 20px; }
  .work .cartoons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%; }
    .work .cartoons__row {
      display: flex;
      justify-content: space-around; }
    .work .cartoons svg {
      width: 150px;
      margin: 20px; }
    .work .cartoons .chuck {
      width: 150px; }
      .work .cartoons .chuck .st0 {
        fill: #FF9E73; }
      .work .cartoons .chuck .st1 {
        fill: #FFFFFF; }
      .work .cartoons .chuck #beak {
        animation: beak 2s linear infinite; }
      .work .cartoons .chuck #right-arm {
        animation: right-arm 2.5s linear infinite; }
      .work .cartoons .chuck #left-arm {
        animation: left-arm 2.5s linear infinite; }
    .work .cartoons .buster .st0 {
      fill: #CCC23E; }
    .work .cartoons .buster .st1 {
      fill: #FFFFFF; }
    .work .cartoons .buster #right-pupil {
      r: 10.9;
      animation: pupil 3s linear infinite; }
    .work .cartoons .sachi .st0 {
      fill: #92CC36; }
    .work .cartoons .sachi .st1 {
      fill: #FFFFFF; }
    .work .cartoons .sachi #left-fang {
      animation: left-fang 1s infinite; }
    .work .cartoons .sachi #right-fang {
      animation: right-fang 1s infinite; }
    .work .cartoons .frankie {
      width: 150px; }
      .work .cartoons .frankie .st0 {
        fill: #32CC91; }
      .work .cartoons .frankie .st1 {
        fill: #CC6633; }
      .work .cartoons .frankie .st2 {
        fill: #FFFFFF; }
      .work .cartoons .frankie #head {
        animation: big-head 3s linear infinite; }
